
  .menuItem a:before,
  .menuItem a:after {
    position: absolute;
    
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menuItem a:before {
    bottom: 0;
    display: block;
    height: 1.5px;
    width: 0%;
    content: "";
    background-color: #666666b0;
  }
  .menuItem a:after {
    left: 0;
    bottom: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .menuItem a:hover:before,
  .menuItem .current a:before {
    opacity: 1;
    width: 70px;
  }
  .menuItem a:hover:after,
  .menuItem .current a:after {
    max-width: 100%;
  }


  