#slidingImage{
    animation: entry .9s ease;
    transition:opacity .5s ease, transform .7s ease;
}
#Blinking{
    animation: entry .5s ease;
    transition:opacity .5s ease, transform 1s ease;
}
@keyframes entry{
    0%{
         transform:translateX(4);
         opacity:0.1;
    }
    100%{

       
        transform:translateX(0);
        opacity:1;
    }
    
}

#backdrop{
    backdrop-filter: blur(16px);
}