
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Ubuntu';
    /* display: inline-block; */
    overflow-x: hidden;
    position: relative;
}
body::-webkit-scrollbar {
    width: 3px;
    border-radius:5px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fdfbfe;
  }